<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Html To Db JspApp</display-name>
  <welcome-file-list>
 
    <welcome-file>Form.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
 <servlet-name>a</servlet-name> 
 <!--  <servlet-class>/bank_account.jsp</servlet-class> -->
 <jsp-file>/bank_account.jsp</jsp-file>
 
 <init-param>
 <param-name>dbpwd</param-name>
 <param-value>system123</param-value>
 
 </init-param>
  </servlet>
  
  
  
  <servlet-mapping>
  <servlet-name>a</servlet-name>
  <url-pattern>/bankurl</url-pattern>
  </servlet-mapping>
 
<context-param>
<param-name>dbuser</param-name>
<param-value>system</param-value>

</context-param> 
<context-param>
<param-name>driver</param-name>
<param-value>oracle.jdbc.driver.OracleDriver</param-value>

</context-param>
<context-param>

<param-name>url</param-name>
<param-value>jdbc:oracle:thin:@localhost:1521:xe </param-value>
</context-param>


</web-app>